.img{
    background-image: url('../assets/images/5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat; 
    
    justify-content: center;
    align-items: center;
   
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      padding-top: 50px ;
      overflow: scroll;
}
.bc{
    font-size: xxx-large;
    color:black;
    padding-left: 600px;
}

.ab{
    backdrop-filter: blur(5px);
    padding-top: 50px;
}

.head{
    color:cadetblue;
    backdrop-filter: blur(5px);
    padding-top: 5px;
    padding-left: 500px;
}
